html, body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header{
    background-color:#211822;
    position:fixed;
    width: 100%;
    z-index: 10;
}

nav{
    margin:0;
    padding: 20px 0;
    text-align: center;
}

nav li{
    color:#FBC995;
    font-size: 16px;
    display: inline-block;
    width: 150px;
}

main{
    text-align: center;
    position: relative;
    top: 80px;
}

main h1{
    opacity: 80%;
    color: ivory;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.jumbotron{
    height: 1000px;
    background-image: url("2c92e90475b3d89e48cc222162404850.jpg");
    background-repeat: no-repeat;
    background-size: 2155px 1000px;
}    

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.button_main{
    opacity: 90%;
    background-color: #211822;
    color: ivory;
    font-size: 18px;
    padding: 16px 40px;
    text-transform: uppercase;
    border-radius: 10%;
    margin: 300px;
    text-decoration: none;
}

.jumbotron img{
    height: 32px;
}

.jumbotron .col{
    opacity: 90%;
    background-color: #211822;
    color: ivory;
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10%;
    margin: 200px, 450px;
    bottom: 2000px;
    padding: 20px 40px;
}

.container{
    height: 300px;
}

.button_sup{
    background-color: #CFAFBE;
    color:ivory;
    font-size: 18px;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 10%;
    margin: 10px;
    text-decoration: none;
}
/*
.supporting {
    padding-top: 120px;
    padding-bottom: 100px;
  }

.supporting img{
    height: 32px;
}

.supporting .col{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
}

*/


footer{
    top: 2000px;
    background-color: #211822;
    color: ivory;
    padding: 10px 0;
}

.footing{
    text-align: center;
    color:ivory;
    font-size: 16px;
    margin-top: 90px;
}